.gallery-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }

            .main-image-viewer img {
                max-width: 100%;
                height: auto;
                /* Set a specific size for the main image area if desired */
                width: 400px;
                height: 400px;
                object-fit: cover; /* Ensures images cover the area without distortion */
                border: 1px solid #ccc;
                border-radius: 20px;
                padding: 5px;
            }

            .thumbnail-container {
                display: flex;
                gap: 5px;
                flex-wrap: wrap;
            }

            .thumbnail-container img {
                width: 90px; /* Set a fixed width for thumbnails */
                height: 70px;
                object-fit: cover;
                cursor: pointer; /* Changes cursor to a hand to indicate interactivity */
                border: 1px solid #ccc;
                transition: border-color 0.3s; /* Smooth transition for hover effect */
            }

            .thumbnail-container img:hover {
                border-color: #777; /* Visual feedback on hover */
            }